body {
  margin: 0px;
}
.Resizer {
  z-index: 10000;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 2s ease;
  border: 10px solid #333642;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  cursor: row-resize;
  width: 100%;
  border: 8px solid #333642;
}

.Resizer.vertical {
  margin: 0 -5px;

  cursor: col-resize;
  border: 8px solid #333642;
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.editorTitle {
  padding: 10px;
  font-family: Tahoma;
  font-weight: bold;
}

.editorContainer {
  background-color: #1d1e22;
  height: 100%;
  color: #b7bbc8;
  padding-left: 5px;
  padding-top: 5px;
  position: relative;
}

iframe {
    border: 0;
}

.optionsContainer {
  background-color: #1d1e22;
  color: #b7bbc8;
}

/* https://github.com/JetBrains/JetBrainsMono */
@font-face{
  font-family: 'JetBrains';
  src: url('JetBrainsMonoNL-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}